body {
    height: 100vh;
    background: rgb(255, 255, 255);
}

.btn-create {
    width: auto;
}


.of-60 {
    width: 66%;
}

.cd-center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}